body{
    font-family: 'Poppins', sans-serif;
}


/* Navber-CSS-Start */

.text-darkGray{
    color:#3E3E3E !important;
}

.fw-500{
    font-weight: 500;
}

/* Navber-CSS-End */


/* Carousel-CSS-Start */

.fw-600{
    font-weight: 600;
}

.carousel-caption a{
    padding-top:10px;
    padding-bottom:10px;
} 

/* Carousel-CSS-End */


/* Our-Package-CSS-Start */

.position-set{
    top:15%;
    right:0px;
    z-index: 10;
}

.text-bunting{
    color:#231D4F;
}

.title{
    padding-top:100px;
    padding-bottom:100px;
}

.package-text{
    font-size:15px;
}

.text-softcharchoal{
    color:#848199;
}

.text-selago{
    color:#5243C2;
}

.bg-purple{
    background-color: #EDECF9;
}

.border-radius50{
    border-radius: 50%;
}

.bg-floralWhite{
    background-color: #FDF4FA;
}

.text-vividbBlue{
    color:#3F87F5;
}

.package-button{
    padding-top: 13px;
    padding-bottom: 13px;
}

.bg-vividBlue{
    background-color: #3F87F5;
}

.box-shadow{
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.condition{
    margin-bottom:40px;
}

.bg-sunsetOrange{
    background-color:#FF4E4E;
}

.badge{
    top:0%;
    left:80%;
}

/* Our-Package-CSS-End */


/* food-menu-CSS-Start */

.food:hover .dark-shadow{
    background: rgba(0,0,0,.7);
    transition:all 0.3s;
}

.menu-number{
    top:-2%;
    left:50%;
}

.food:hover .menu-number{
    top:50%;
    transition:all 0.4s;
}

/* food-menu-CSS-End */


/* frequently-Asked-Questions-CSS-Start */

.text-honeysuckle{
    color: #5192F5;
}

.frequently-Asked-Questions{
    margin-bottom:150px;
}

/* frequently-Asked-Questions-CSS-End */


/* footer-CSS-Start */

.bg-black{
    background: #0B0D17;
}

footer span{
    font-size:14px;
}

.text-whiteGray{
    color:#D9DBE1;
}

footer-link h6{
    font-size:18px;
}

/* footer-CSS-End */



/* media-query-start */

@media (max-width: 576px) {

    .container{
        width:90%;
    }
    .nav-width{
        width:100%;
    }
    .position-set{
    top:1%;
    right:0px;
    z-index: 10;
    }

    .food-img{
        width:100%;
    }

    footer span{
        display: inline-block;
        width:80%;
    }
    .logo{
        margin-right:0px;
    }
    .nav-link{
        text-align: center;
    }
    .carousel-caption h1{
        font-size:28px;
        font-weight: 400;
    }

    .carousel-caption p{
        font-weight: lighter;
        font-size:14px;
    }
    .height-increase{
        height:calc(100vh - 70px);;
        object-fit: cover;
    }

}

/* media-query-end */